.body {
	margin-top: 10%;
	background-color: white;
}
.header {
	padding-top: 1%;
	padding-bottom: 1%;
}
.footer {
	background-color: white;
	margin-top: 13%;
	padding-top: 1% ;
	padding-bottom: 1%;
}
.rules {
	background-color: white;
	margin-top: 5%;
	padding-bottom: 1%;
	padding-top: 1%;
}
.rr {
	padding-left: 20%;
}
.ava {
	margin-right: 5px;
	border-radius: 100px; /* Радиус скругления */
    border: 2px solid purple; /* Параметры рамки */
    box-shadow: 0 0 3px #666; /* Параметры тени */
}
.bodyr {
	margin-top: 5%;
	background-color: white;
}
.rrules {
	background-color: white;
	padding-bottom: 1%;
	padding-top: 1%;
}
.ib {
	display: inline-block;
}
#particles-js {
  position: fixed;
  top: 0
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}