body {
	background-image: url(bg.jpg);
	background-size: cover;
	overflow-x: hidden;
    	
}

.body {
	margin-top: 10%;
	background-color: white;
}
.header {
	padding-top: 1%;
	padding-bottom: 1%;
}
.footer {
	background-color: white;
	margin-top: 500px;
}